*{
	padding: 0;
	margin: 0;
}
 ul,li,ol{
 	list-style: none;
 }
 a{
 	text-decoration: none;
 }
 .header{
 	width: 1600px;
 	height: 103px;
 	margin: 0 auto;
 }
 .header img{
 	margin-top: 34px;
 	float: left;
 }
 .dianhua{
 	font-family: 微软雅黑;
 	font-size:22px;
 	color:#0b4199; 
 	float: right;
 	margin-top: 55px;
 	margin-right: 37px: 
 }
 .denglu a{
 	margin-right:204px; 
 	border-left:2px solid #7d7d7d;
 	padding-left: 12px;
 	float: right;
 	margin-top: 60px;
 	color: #7d7d7d;
 }
 .zhuce a{
 	border-left:2px solid #7d7d7d; 
 	margin-right:13px;
 	padding-left: 12px;
 	float: right;
 	margin-top: 60px;
 	color: #7d7d7d;
 }
 .language{
 	font-family: Arial;
 	font-size: 16px;
 	color:#ef2c34;
 	margin-right:4px;
 	float: right;
 	margin-top: 60px;
 	overflow:hidden
 }
 .zhongwen{
 	margin-right:20px;
 	margin-left: 30px;
 	float: right;
 	margin-top: 60px;
 	color: #7d7d7d;
 }
 .list{
 	width: 1600px;
 	height: 50px;
 	margin: 0 auto;
 	padding-left: 12px;
 }
 .nav{
 	width:867px;
 	height:50px;
 	margin-left:164px;
 	font-size: 16px;
 	font-family: 微软雅黑;
 }
 .nav>li{
 	float: left;
 	width: 80px;
 	height: 34px;
 	text-align: center;
 	padding-top: 16px;
 	margin-right: 28px;
 }
 .nav>li:hover{
	background:#2756a4;
}
 .sousuo{ 
 	position: absolute;
 	top:108px;
 	right:119px;
 }
 /*头结束*/
 /*中间开始*/

/*gfdfghhgfddfghjhgfdfgh第二部分*/

.er{
	width: 1600px;
	height: 197px;
	background-color: #f9f9f9; 
	background: url(../images/1.png) no-repeat right center;
}
.er1{
	color: #a0a0a0;
	float: left;
	padding-left: 199px;
	padding-top: 21px;
	font-family: 微软雅黑;
}
.er2{
	float: left;
	padding-left: 0px;
	color: #2c53a0;
	padding-top: 21px;
	font-family: 微软雅黑;
}
.er3{
	padding-left: 202px;
	padding-top: 103px;
	font-size: 24px;
	font-family: 微软雅黑;
	color: #3e3e3e;
}
.er4{
	padding-left: 203px;
	padding-top: 8px;
	font-family: 微软雅黑;
	font-size: 14px;
	color: #939393;
}

/*fdafsevddffghjhgfdsdfghgfdfg文字*/

.san{
	width: 1600px;
	height: 1450px;
	background-color: #f9f9f9;
}
.san1{
	width: 1200px;
	height: 1391px;
	background-color: #ffffff;
	margin: 0 auto;
}
.san2{
	color: #333333;
	font-size: 16px;
	padding-left: 30px;
	padding-top: 56px;
}
.san3{
	font-family: 微软雅黑;
	color: #333333;
	font-size: 16px;
	padding-left: 30px;
}
.san4{
	color: #333333;
	font-size: 16px;
	padding-left: 30px;
	padding-top: 56px;
}

/*adadasdasdasdadadasdasdadsdasdaawdad蓝色开始*/



 /*中间结束*/
 /*尾部开始*/
 .bottom1{
 	width: 1600px;
 	height:80px;
 	margin: 0 auto;
 	background: #0b4199;
 }
 .iphone{
 	width: 163px;
 	height: 60px;
 	margin-left: 199px;
 	float: left;
 	text-align: center;
 	color:#ffffff;
 	padding-top: 20px;
 }
 .huan{
 	width: 177px;
 	height: 60px;
 	margin-left: 158px;
 	float: left;
 	text-align: center;
 	color:#ffffff;
 	padding-top: 20px;
 }
 .lianjie{
 	width: 216px;
 	height: 60px;
 	margin-left: 488px;
 	float: left;
 	text-align: center;
 	color:#ffffff;
 	padding-top: 20px;
 }
 .lianjie img{
 	padding-left: 6px;
 }
 .bottom2{
 	width: 1600px;
 	height:310px;
 	margin: auto;
 	background: #454545;
 	overflow: hidden;
 	position: relative;
 }
 .left{
 	width: 896px;
 	height: 194px;
 	margin-top: 70px;
 	margin-left: 199px;
 	border-right: 1px solid #525252;
 }
 .guanyu{
 	width: 97px;
 	height: 130px;
 	float: left;
 	font: 14px 微软雅黑;
 	color:#ffffff;
 	padding-right: 91px;
 	line-height: 26px;
 }
 .caigou{
 	width: 100px;
 	height: 130px;
 	font: 14px 微软雅黑;
 	color:#ffffff;
 	float: left;
 	padding-right: 98px;
 	line-height: 26px;
 }
 .jishu{
 	width: 135px;
 	height: 130px;
 	float: left;
 	font: 14px 微软雅黑;
 	color:#ffffff;
 	padding-right: 66px;
 	line-height: 26px;
 }
 .jiliang{
 	width: 83px;
 	height: 130px;
 	float: left;
 	font: 14px 微软雅黑;
 	color:#ffffff;
 	padding-right: 108px;
 	line-height: 26px;
 }
 .gongsi{
 	width: 110px;
 	height: 130px;
 	float: left;
 	font: 14px 微软雅黑;
 	color:#ffffff;
 	line-height: 26px;
 }
 .zi{
 	font: 16px 微软雅黑;
 	padding-bottom: 20px;
 }
 .right{
 	width: 270px;
 	height:180px;
 	float: right;
 	position: absolute;
 	top:60px;
 	right: 200px;
 }
 .xiao{
 	width: 265px;
 	height: 81px;
 	margin-top: 33px;
 }
 .lia{
 	width: 57px;
 	height: 81px;
 	float: left;
 	font: 14px 微软雅黑;
 	color:#ffffff;
 }
 .duo{
 	width: 208px;
 	height: 81px;
 	float: left;
 	font: 12px 微软雅黑;
 	color:#ffffff;
 	line-height: 20px;
 }
 .di{
 	width: 905px;
 	height: 27px;
 }
 .chang{
 	width: 378px;
 	height:13px;
 	margin-left: 279px;
 	font: 12px 微软雅黑;
 	color: #ffffff;
 	float: left;
 	position: absolute;
 	bottom:13px;
 	left:278px; 
 }
 /*尾部结束*/